.login-container {
    display: flex;
    flex: 1;
    width: 100vw;


}

.form-container {
    flex: 1;
    padding: 50px;
    margin: 10px;
    /* margin-left: -50px; */
    align-content: center;



}

.form-box {
    justify-content: left;
    align-items: inherit;
    grid-row: auto;
}

.Twitter-img {
    color: skyblue;
    max-width: 50%;

}

.input-form {
    width: 20px;

}

.heading,
h1 {
    font-size: 50px
}

.heading1,
h3 {
    font-size: 35px;

    justify-content: end
}


.image-container {
    flex: 2;
    margin-left: -100px;


}

.image {
    max-width: 100%;
    height: 100%;
    /* margin-left: -50px; */



}

input {
    display: grid;
    margin-bottom: 1px;
    padding: 5px;
    background-color: white;
    margin-top: 20px;

}

.email,
.password {

    background-color: #E8F0FE;
    width: 70%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;
}

.display-name {


    background-color: #E8F0FE;
    width: 70%;
    border-radius: 8px;
    padding: 14px;
    border: none;
    outline: none;

}




.btn-login {
    padding: 7px;
}

.btn {
    background-color: rgb(92, 199, 241);
    width: 75%;
    margin-right: 20px;
    padding: 14px;
    border-radius: 8px;
    font-size: 17px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 15px;
}

.g-btn {
    border: 1px solid;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
    width: 70% !important;
    margin: 10px;
}

.google-button {
    margin-top: 5%;
}

.g-btn>div,
.g-btn>div>svg {
    height: 30px !important;

}

.errorMessage {
    color: red;
    font-weight: 500;
    margin: 10px 0;
}

.signUpText>Link {
    text-decoration: none;
    color: var(--twitter-color) !important;

}

@media screen and (max-width:688px) {
    .login-container {
        order: 2;
        display: flex;
        flex-direction: column;
        font-size: 20px;

    }

    .form-container {
        padding: 10px;
    }


    .image-container {
        width: 100%;
        vertical-align: text-bottom;
        display: flex;
        flex-direction: column-reverse;
        order: 1;
        max-width: 100%;
        width: 100%;


    }


    .image {
        order: 2;
        width: 100%;
        height: 100%;
        margin-left: 100px;

    }
}

/* New styles for device info and OTP */
.device-info-banner {
    background-color: #e8f5fe;
    padding: 8px 12px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
}

.device-info-banner small {
    color: #1da1f2;
    font-size: 12px;
}

.error-message {
    background-color: #ffebee;
    border: 1px solid #f44336;
    color: #c62828;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

.forgot-password-link {
    text-align: center;
    margin: 10px 0;
}

.forgot-password-link a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-link a:hover {
    text-decoration: underline;
}

/* OTP Modal Styles */
.otp-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.otp-modal {
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.otp-modal h3 {
    margin-bottom: 10px;
    color: #14171a;
}

.otp-modal p {
    color: #657786;
    margin-bottom: 20px;
    font-size: 14px;
}

.otp-modal input {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    text-align: center;
    border: 2px solid #e1e8ed;
    border-radius: 8px;
    margin-bottom: 15px;
    letter-spacing: 4px;
}

.otp-modal input:focus {
    border-color: #1da1f2;
    outline: none;
}

.otp-modal .error {
    color: #f44336;
    font-size: 13px;
    margin-bottom: 15px;
}

.otp-modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.otp-modal-buttons .verify-btn {
    flex: 1;
    padding: 12px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.otp-modal-buttons .verify-btn:hover {
    background-color: #1991db;
}

.otp-modal-buttons .cancel-btn {
    flex: 1;
    padding: 12px;
    background-color: #e1e8ed;
    color: #14171a;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}

.otp-modal-buttons .cancel-btn:hover {
    background-color: #d3dce6;
}