.arrow-icon {
    margin: 10px;
    cursor: pointer;
  }

  .arrow-icon:hover {
    color: var(--twitter-color);
  }

  .coverImage {
    height: 200px;
    width: 600px;
  }

  .coverImageContainer {
    position: relative;
  }

  .hoverCoverImage {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 98%;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hoverCoverImage:hover {
    opacity: 100%;
  }

  .photoIcon {
    color: white;
    font-size: 35px !important;
    opacity: 40%;
    margin-right: 20px;
    cursor: pointer;
  }

  .photoIcon:hover {
    opacity: 100%;
  }

  .photoIconDisabled {
    cursor: not-allowed;
  }

  .userInfo {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .heading-4 {
    margin-top: -40px;
    font-size: 19px;
    margin-left: 50px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .heading-3 {
    margin-left: 20px;
    font-size: 24px;
  }

  .usernameSection {
    margin-left: 20px;
    color: darkgrey;
  }

  .mainprofile {
    background-color: rgb(207, 206, 206);
    margin-top: 0;
    border: 1 px solid white;
  }

  .profile-bio {
    height: 100px;
  }

  .avatarContainer {
    margin-top: -80px;
    margin-left: 20px;
    border-radius: 100%;
    position: relative;
    height: 150px;
    width: 150px;
    border: 4px solid white;
  }

  .avatar {
    position: relative;
    width: 100%;
    height: 98%;
    border-radius: 100%;
  }

  .hoverAvatarImage {
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.603);
    width: 100%;
    height: 98%;
    border-radius: 100%;
    opacity: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hoverAvatarImage:hover {
    opacity: 100%;
  }

  .Edit-profile-btn {
    background-color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 2rem;
    margin-right: 20px;
  }

  .Edit-profile-btn:hover {
    background-color: rgb(207, 206, 206);
  }

  .Tweet {
    background-color: white;
    width: 20%;
    height: 20%;
    padding: 2rem 1rem;
    color: skyblue;
  }

  .tweetsText {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
  }

  .infoContainer {
    margin-left: 20px;
    margin-top: 10px;
  }

  .locationAndLink {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
  }

  .subInfo {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .link {
    color: var(--twitter-color);
    cursor: pointer;
  }

  /* Notification Settings Styles */
  .notification-settings {
    background-color: #f5f8fa;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 12px;
    border: 1px solid #e1e8ed;
  }

  .notification-settings h4 {
    margin: 0 0 15px 0;
    color: #14171a;
    font-size: 16px;
  }

  .notification-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notification-toggle span {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #14171a;
    font-size: 14px;
  }

  .notification-info {
    margin-top: 10px;
    font-size: 12px;
    color: #657786;
  }

  /* Toggle Switch Styles */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #1da1f2;
  }

  input:checked + .slider:before {
    transform: translateX(24px);
  }

  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }